body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header{
  height: 300px;
  background: url("https://react-instantsearch.netlify.com/examples/e-commerce/assets/cover.png");
}

.searchBox {
  height: 64px;
  max-width: 740px;
}